* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#google-map {
	/* height: 400px; */
	aspect-ratio: 1 / 1;
	width: 100%;
}

#favourites-heading {
	color: var(--secondary-text);
	border-bottom: 2px solid var(--secondary-text);
}