:root {
  --black: #000000;
  --white: #ffffff;
  --primary-title: #0d47a1;
  --secondary-title: #1e88e5;
  --page-bg: #e3f2fd;
  --primary-btn-bg: #42a5f5;
  --primary-btn-bg-hover: #0d47a1;
  --secondary-btn-bg: #e3f2fd;
  --secondary-btn-bg-hover: #90caf9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin-left: 1rem;
}

body {
  background-color: var(--page-bg);
}

#search {
  background-image: url("../../design/jumbotron2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#jumbotron {
  background-color: transparent;
  /* background-image: url("../../design/jumbotron.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000; */
}

.card-image {
  background-image: url("../../design/imgbox1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: var(--white);
  text-shadow: 3px 3px 3px var(--primary-title);
}

#sub-title {
  color: var(--secondary-title);
  text-shadow: 3px 3px 3px var(--black);
}

#search-box {
  background-color: var(--page-bg);
}

#search-btn,
#save-btn {
  background-color: var(--primary-btn-bg);
  border: none;
  font-weight: bold;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#search-btn:hover,
#save-btn:hover {
  background-color: var(--primary-btn-bg-hover);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#random-btn {
  background-color: var(--secondary-btn-bg);
  border: none;
  color: #808080;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#random-btn:hover {
  background-color: var(--secondary-btn-bg-hover);
  color: var(--white);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#current-city {
  color: var(--primary-title);
}

#google-map {
  /* height: 400px; */
  width: 100%;
  aspect-ratio: 1 / 1;
}

#favourites-heading {
  color: var(--secondary-title);
  border-bottom: 2px solid var(--secondary-title);
}

#images .city-images {
  max-width: 100%;
}
 
#images .city-images img {
  /* display: inline-block; */
  /* width: 100%; */
  /* max-height: 66%; */
  /* object-fit: cover; */
}